{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish list
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>

  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Price</th>
      </tr>
      {% for dish in dish_list %}
        <tr>
          <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
          <td>{{ dish.dish_type.name }}</td>
          <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are no dishes in the assortment.</p>
    {% endif %}
{% endblock %}
