{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Type List
    <a href="{% url 'kitchen:dish-type-form' %}">+</a>
  </h1>
  {% if dish_type_list %}
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            {{ dish_type.name }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There is no types of dishes in assortment</p>
  {% endif %}
{% endblock %}
