<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Kitchen {% block title %}{% endblock %}
  </title>

  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/material-kit.css?v=3.0.0" rel="stylesheet"/>

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="{% block body_class %}{% endblock %} bg-gray-200">

{% block content %}{% endblock content %}

{% block footer %}

  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}

{% endblock %}

{% block javascripts %}{% endblock javascripts %}

</body>
</html>
